body {
    background-color: lavender;
    text-align: center;
}

.blank {
    padding-top: 30px;
}

#meme {
    position: relative;
    margin: 0 auto;
}

.meme-caption {
    color: white;
    font-family: Impact;
    font-size: 36px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.upper-caption {
    top: 10px;
}

.lower-caption {
    bottom: 10px;
}

